.container{
    margin-bottom: 100px ;
}

.cream-bg{
    background-color: #feeae9;
  border-radius: 10px;
}
.carousel-item{
    padding:30px 30px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
color: #fff;
border:none;
border-radius:8px ;
padding:9px 25px;
cursor: pointer;

}
.cat-1{
    background-color: orange;
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.cat-1, .cat-2, .cat-3{
    padding:10px 30px;
    color: white;
    border-radius: 10px;
}
.categoris img{
    width:130px;
}
.card{
    border: none;
    box-shadow: 5px 5px 15px rgb(160, 156, 156);
    border-radius: 10px;
}
.card-footer{
    background-color:white;
    border-top: none;
}
#contact{
height: 300px;

}
#contact h6{
    color: rgb(77, 110, 110);
}
footer{
    text-align: center;
}